.contenedor{
    background-color:#1B244A;
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: space-around;
}
.caja{
    border: 1px solid black;
    width: 155px;
    margin-top: 68px;
    margin-bottom: 68px;
}